<!DOCTYPE html>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<html>
<body>
<h1>Hola El Mundo -- </h1>
    
<h3> Testing Vue.js  app: Basic hello: </h3>  
    <div id="app">
      {{ message }}
    </div>   
<h3> Divs App2: Dynamic hover </h3>  
    <div id="app-2">
        <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
        </span>
    </div>
 
<h3> Divs App3: Vue visibility </h3>  
    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>
    
<h3> Divs App4: Vue arrays </h3>  
   <div id="app-4">
    <ol>
       <li v-for="todo in todos">
         {{ todo.text }}
       </li>
    </ol>
</div>
    
     
<h3> More things </h3>  
<p>I'm hosted with GitHub Pages.</p>
    <h3> Results oriented Development </h3>
    <p> Heres a Quote: <hr> you get what you measure. The more you measure results, the more results you get.  <hr> </p>
        <a href=" http://conversationaldevelopment.com/principles//">conversationaldevelopment </a>
    
    <h3>Heres some code</h3>
     <p>
      
         <a href="https://richardglenski.github.io/JS6_WordFinder_Await_Async/"> WordFinder </a>(with JS6 Async)
        <a href="https://richardglenski.github.io/JS6_LittleEarl_Await_Async/"> Little Earl </a>(URL shortener with JS6 Async)
    
         </p>

    
</body>
</html>
<script src="public/main.js"></script>

